@model IEnumerable<GYMAdmin.Models.Maquina>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="page-wrapper">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_Maquina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Maquina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Codigo_Maquina }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Codigo_Maquina }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Codigo_Maquina })
                </td>
            </tr>
        }

    </table>
</div>