@model GYMAdmin.Models.Articulo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="page-wrapper">
    <h2>Details</h2>

    <div>
        <h4>Articulo</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Proveedor.Nombre_Empresa)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Proveedor.Nombre_Empresa)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descripcion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Precio_Costo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Precio_Costo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Precio_Venta)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Precio_Venta)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Codigo_Articulo }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>