@model IEnumerable<GYMAdmin.Models.Articulo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="page-wrapper">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Proveedor.Nombre_Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio_Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio_Venta)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Proveedor.Nombre_Empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio_Costo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio_Venta)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Codigo_Articulo }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Codigo_Articulo }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Codigo_Articulo })
                </td>
            </tr>
        }

    </table>
</div>